<nav>
  <div class="site-title">
    <a href="/"><h1>Books</h1></a>
    <p>A simple books app</p>
  </div>
  <ul>
    <li><a href="/">Books</a></li>
    <li><a href="/books/create">New Book</a></li>
  </ul>
</nav>